body {
  background-color: #101010;
  color: white;
  font-family: sans-serif, Helvetica, Arial;
}

p {
  font-size: 19px;
  margin: 10px;
}

p.largerText {
  font-size: 36px;
}

p.mediumText {
  font-size: 25px;
}

h6 {
  margin: 10px;
}

.tableHeader {
  font-size: 32px;
  text-align: center;
}

.title {
  font-size: 48px;
}

.imageBorder {
  border-color: #202020;
  border-width: 10px;
  border-style: solid;
}
